:root {
  /* change these top variables to change the theme! */
  --primary-hue: 10;
  --light-angle: 30deg;
  --monochrome-alpha: 63%;

  --bg: hsl(var(--primary-hue), 20%, 30%);
  --bg-dark: hsl(var(--primary-hue), 50%, 20%);
  --heading-text: hsl(calc(var(--primary-hue) - 45), 100%, 80%);
  --heading-bg: hsla(calc(var(--primary-hue) - 15), 100%, 65%, 20%);
  --gray88: hsla(0, 0%, 88%, var(--monochrome-alpha));
  --white-alpha: hsla(0, 0%, 100%, var(--monochrome-alpha));
  --gray50: hsl(0, 0%, 50%);
  background: linear-gradient(var(--light-angle), var(--bg-dark), var(--bg) 200%);
}

:root * { box-sizing: border-box; }

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a{
  color: rgb(231, 223, 223);
}

h1 {
  color: var(--heading-text);
  margin: .25em 0;
}

ul {
  padding: 0;
  list-style: none;
}

input {
  width: 120px;
}

.CitySearch,
.NumberOfEvents,
.EventList {
  display: flex;
  flex-direction: column;
}

.CitySearch .NumberOfEvents {
  border-left: 1px solid var(--bg);
  border-bottom-left-radius: 100%;
  padding: 0 0 .75em 1.75em;
  height: 100%;
}

.NumberOfEvents {
  background: var(--gray88);
  border-bottom-left-radius: 100%;
}

.EventList {
  width: 100%;
}

.Event {
  margin-bottom: .35em;
  box-shadow: 0 .2em hsla(0, 0%, 0%, 40%);
}

.Event {
  border: 1px solid var(--gray50);
  border-radius: .35em;
  background: var(--white-alpha);
  margin: .25em .75em;
  padding: .25em .85em .5em;
  color: #1d1d1d;
}

.Event.expanded {
  background:rgba(53, 127, 196, 0.4) ;
  color: rgb(255, 255, 255);
  box-shadow: 0 .2em rgba(185, 184, 184, 0.4);
}

.details-button {
  padding: 1em 1.25em;
  border-radius: 1em;
  border: none;
  color: rgb(3, 9, 36);
  box-shadow: 0 .2em hsla(0, 0%, 10%, 50%);
  width: 120px;
}

.details-button:active {
  background-color: var(--heading-text);
  opacity: .75;
  box-shadow: none;
  transform: translateY(.2em);
}

.Event.expanded .details-button { background-color: white; }

.subtitle { margin-top: 0;}

.text-white {color: white;}

.ThemeChanger {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.ThemeChanger button {
  background-color: var(--gray88);
  border-bottom-left-radius: 100%;
  padding: .75em 1.25em;
}

.ThemeChanger button:active {
  background-color: var(--white-alpha);
}

.theme-number {
  color: var(--white-alpha);
}

.TopBar {
  text-align: center;
  position: sticky;
  width: 100%;
  border-bottom: 1.1px solid var(--gray50);
  background: var(--bg);
}

.filter-box {
  background: var(--heading-text);
  display: grid;
  width: inherit;
  grid-template-columns: 50% auto;
  border: none;
}

.suggestions {
  background: linear-gradient(80deg, var(--white-alpha), transparent);
  padding: 0;
  margin: .25em 0 0;
}

suggestions li {
  padding: 0 0 .45em .25em;
  cursor: pointer;
}

.suggestions button {
  padding: .25em;
}

.Alert {
  margin-top: 0;
  padding: .25em 0 0;
  background: linear-gradient(90deg, var(--white-alpha), transparent);
}

.App > .Alert {
  position: sticky;
  align-self: flex-start;
  top: 0;
  left: 0;
  z-index: 101;
  background: #fff7;
  padding: .25em;
}